@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(0, 0, 0);
}

.blinking-cursor {
  margin-top: 2px;
  display: inline-block;
  width: 2px;
  height: 14px;
  background-color: black;
  animation: blink-animation 2s steps(2, start) infinite;
  margin-right: 1px;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}